@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using BiuroPodrozy_Zad_dom.Models
@inject SignInManager<Client> SignInManager
@inject UserManager<Client> UserManager

<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

	<!-- Sidebar - Brand -->
	<a class="sidebar-brand d-flex align-items-center justify-content-center" asp-area="" asp-controller="Home" asp-action="Index">
		Wycieczki
	</a>

	<!-- Divider -->
	<hr class="sidebar-divider my-0">

	<!-- Nav Item - Dashboard -->
	<li class="nav-item active">
		<a class="nav-link" href="/Admin">
			<i class="fas fa-fw fa-tachometer-alt"></i>
			<span>Panel Administratora</span>
		</a>
	</li>

	<!-- Divider -->
	<hr class="sidebar-divider">

	<!-- Heading -->
	<div class="sidebar-heading">
		Strony
	</div>

    <li class="nav-item">
        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">
            <i class="fas fa-home"></i>
            Strona Główna
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" asp-area="" asp-controller="Cities" asp-action="Index">
            <i class="fas fa-city"></i>
            Miasta
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" asp-area="" asp-controller="Countries" asp-action="Index">
            <i class="fas fa-globe"></i>
            Kraje
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" asp-area="" asp-controller="Trips" asp-action="Index">
            <i class="fas fa-plane"></i>
            Wycieczki
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" asp-area="" asp-controller="Customers" asp-action="Index">
            <i class="fas fa-users"></i>
            Klienci
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" asp-area="" asp-controller="Photos" asp-action="Index">
            <i class="fas fa-camera"></i>
            Zdjęcia
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" asp-area="" asp-controller="PointsOfIntrest" asp-action="Index">
            <i class="fas fa-map-marker-alt"></i>
            Atrakcje
        </a>
    </li>
	
	<!-- Divider -->
	<hr class="sidebar-divider">

	@if (SignInManager.IsSignedIn(User))
	{
		var user = await UserManager.GetUserAsync(User);

        <li class="nav-item">
            <a id="manage" class="nav-link" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                <i class="fas fa-user"></i>
                Zalogowano: <br /> @user?.FirstName @user?.LastName
            </a>
        </li>
        <li class="nav-item">
            <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button id="logout" type="submit" class="nav-link btn btn-link border-0">
                    <i class="fas fa-sign-out-alt"></i>
                    Wyloguj
                </button>
            </form>
        </li>
	}

</ul>
<!-- End of Sidebar -->