@using Microsoft.AspNetCore.Identity
@using BiuroPodrozy_Zad_dom.Models
@inject UserManager<Client> UserManager

@{
	var user = await UserManager.GetUserAsync(User);
	var isAdmin = user is not null && await UserManager.IsInRoleAsync(user, "Admin");
}

<nav class="navbar navbar-expand-lg navbar-light bg-light p-3 border-bottom shadow-sm">
	<a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
		<img src="~/Resources/ubb-logo.png" alt="UBB Logo" width="30" height="30"
			 class="d-inline-block align-top">
		Wycieczki
	</a>

	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
			aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarNav">
		<ul class="navbar-nav">

			<li class="nav-item">
				<a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Strona Główna</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" asp-area="" asp-controller="Cities" asp-action="Index">Miasta</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" asp-area="" asp-controller="Countries" asp-action="Index">Kraje</a>
			</li>

			<li class="nav-item">
				<a class="nav-link" asp-area="" asp-controller="Trips" asp-action="Index">Wycieczki</a>
			</li>

			@if (user is not null && !isAdmin)
			{
				<a class="nav-link" asp-area="" asp-controller="Reservations" asp-action="Index">Rezerwacje</a>
			}

			@if (isAdmin)
			{
				<li class="nav-item">
					<a class="nav-link" asp-area="" asp-controller="Customers" asp-action="Index">Klienci</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" asp-area="" asp-controller="Photos" asp-action="Index">Zdjęcia</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" asp-area="" asp-controller="PointsOfIntrest" asp-action="Index">Atrakcje</a>
				</li>
			}

		</ul>
	</div>
	<partial name="_LoginPartial" />
</nav>