﻿@using Microsoft.AspNetCore.Identity
@using BiuroPodrozy_Zad_dom.Models
@inject UserManager<Client> UserManager

@{
	var user = await UserManager.GetUserAsync(User);
	var isAdmin = user is not null && await UserManager.IsInRoleAsync(user, "Admin");
}

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - Homework_Trips</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/sb-admin-2.min.css" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	@* <link rel="stylesheet" href="~/Homework_Trips.styles.css" asp-append-version="true" />*@

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link rel="stylesheet" href="https://cdn.datatables.net/2.0.7/css/dataTables.dataTables.css" /

</head>

<body>
	<header>
		@if (!isAdmin)
		{
			<partial name="_DefaultNavbarPartial" />
		}
	</header>

	<main role="main" class="vh-100">
		<div id="wrapper">

			@if (isAdmin)
			{
				<partial name="_AdminSidebarPartial" />
			}

			<!-- Content Wrapper -->
			<div id="content-wrapper" class="d-flex flex-column">

				<!-- Main Content -->
				<div id="content">
					<div class="container-fluid pt-4 pb-4">
						@RenderBody()
					</div>
				</div>
			</div>
		</div>
	</main>

	@if (!isAdmin)
	{
		<footer class="border-top footer text-muted">
			<div class="text-center pt-4">
				&copy; 2024 - Homework_Trips
			</div>
		</footer>
	}

	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	@await RenderSectionAsync("Scripts", required: false)
</body>

</html>